<div id="availableNowCars" class="py-5">
	<div class="home-section-title-container text-white row flex-column justify-content-center align-content-center pb-4 w-100">
		{{ sectionHeading }}
		{#<h3 class="text-center home-section-title">Available
			<span class="home-section-title-highlighted">Cars Now</span>
		</h3>#}
		<hr class="col-2 col-md-1"/>
	</div>
	{% set structuredCarsAvailableNow = {}  %}
	{% set count = 1 %}

	{% for car in carsAvailableNow %}
		{% if count == 1 %}
			{% set structuredCarsAvailableNow = structuredCarsAvailableNow|merge({(loop.index): {"size": 1, "cars": [car]}}) %}
			{% set count = 2 %}
		{% elseif count == 2 %}
			{% set structuredCarsAvailableNow = structuredCarsAvailableNow|merge({(loop.index):{"size": 2, "cars": [car, carsAvailableNow[loop.index]]}}) %}
			{% set count = 3 %}
		{% elseif count == 3 %}
			{% set count = 1 %}
		{% endif %}
	{% endfor %}

	<!-- Swiper -->
	<div class="swiper availableCarsSwipper">
		<div class="swiper-wrapper h-100">
			{% for slide in structuredCarsAvailableNow %}
				<div class="swiper-slide h-100">
					{% if slide.size == 1 %}
						<a href="/cars/{{slide.cars[0].slug}}">
							<div id="available-car-{{loop.index}}" class="h-100 w-100 d-flex justify-content-center position-relative home-available-car-wrapper">
								<img id="available-car-{{loop.index}}-image" src="{{ Image(slide.cars[0].available_now_image).src }}" alt="{{ Image(slide.cars[0].available_now_image).title }}" class="w-100 h-100 home-available-car"/>
								<div id="available-car-{{loop.index}}-overlay" class="available-car-overlay d-none text-center">
									<h5>{{slide.cars[0].model}}</h5>
									<p>{{slide.cars[0].excert}}</p>
								</div>
							</div>
						</a>
					{% else %}
						<div class="h-100 w-100">
							<a href="/cars/{{slide.cars[0].slug}}">
								<div id="available-car-{{loop.index}}" class="{{ slide.cars[1] ? 'h-50' : 'h-100' }} w-100 d-flex justify-content-center position-relative home-available-car-wrapper">
									<img id="available-car-{{loop.index}}-image" src="{{ Image(slide.cars[0].available_now_image).src }}" alt="{{ Image(slide.cars[0].available_now_image).title }}" class="w-100 h-100 home-available-car"/>
									<div id="available-car-{{loop.index}}-overlay" class="available-car-overlay w-100 d-none text-center">
										<h5>{{slide.cars[0].model}}</h5>
										<p>{{slide.cars[0].excert}}</p>
									</div>
								</div>
							</a>

							{% if slide.cars[1] %}
								<a href="/cars/{{slide.cars[1].slug}}">
									<div id="available-car-{{loop.index}}-second" class="h-50 w-100 d-flex justify-content-center position-relative home-available-car-wrapper">
										<img id="available-car-{{loop.index}}-second-image" src="{{ Image(slide.cars[1].available_now_image).src }}" alt="{{ Image(slide.cars[1].available_now_image).title }}" class="w-100 h-100 home-available-car"/>
										<div id="available-car-{{loop.index}}-second-overlay" class="available-car-overlay w-100 d-none text-center">
											<h5>{{slide.cars[1].model}}</h5>
											<p>{{slide.cars[1].excert}}</p>
										</div>
									</div>
								</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
