<div
	class="home-featured-car-wrapper d-flex justify-content-center">
	<!-- CAR FEATURED IMAGE -->
  <div class="car-status-wrapper {{ car.car_status == "Sold" ? 'sold' : '' }}">{{car.car_status}}</div>
	<div class="home-featured-car-image-wraper">
		<img src="{{ Image(car.featured_image).src }}" alt="{{ Image(car.featured_image).title }}" class="img-fluid">
	</div>
	<div
		class="home-featured-car-content-wraper d-flex flex-column justify-content-center align-items-center">
		<!-- BRAND -->
		<div class="d-flex flex-column justify-content-center align-items-center w-100">
			<div class="d-flex justify-content-center align-items-center w-100">
				<img src="{{ Image(brand.logo).src }}" alt="{{ Image(brand.logo).title }}" class="img-fluid">
			</div>
			<h5 class="brand-name">{{brand.name}}</h5>
		</div>
		<!-- CAR MODEL -->
		<h5 class="featured-car-model">{{car.model}}</h5>

		<!-- CAR SPECS -->
		<h5 class="specs-title">Specs</h5>
		<div class="row justify-content-start align-items-center g-2 mx-2 mt-2">
			{% for spec in specs %}
				{% if spec.featured and loop.index <= 4 %}
					<div class="col-12 col-md-6">
						<div class="row justify-content-center align-items-center">
							<div class="col-2 d-flex justify-content-center align-items-center">
								<img src="{{ Image(spec.spec_icon).src }}" alt="{{ Image(car.spec_icon).title }}" class="">
							</div>

							<div class="col-10 featured-specs-detail">
								{{spec.spec_name}}:
								{{spec.spec_value}}</div>
						</div>

					</div>
				{% endif %}
			{% endfor %}
		</div>

		<!-- ACTION BUTTONS -->
		<div class="mt-4 w-100 row justify-content-center align-items-center">
			<div class="col-12 col-md-6 h-100">
				<button class="w-100 py-3 request-now-btn mb-2 h-100">
					Request Now
				</button>
			</div>
			<div class="col-12 col-md-6 h-100">
				<a href="/cars/{{car.slug}}">
					<button href="" class="w-100 py-3 more-details-btn mb-2 h-100">
						More Details
					</button>
				</a>
			</div>
		</div>
	</div>
</div>
