<div id="featured-cars" class="bg-dark">
	<div class="container-fluid px-12 py-4">
		<div class="home-section-title-container row flex-column justify-content-center align-content-center">
			<h3 class="text-center home-section-title">Featured Cars from
				<span class="home-section-title-highlighted">Le Mans Group</span>
			</h3>
			<hr class="col-2 col-md-1"/>
		</div>

		<div class="row row-cols-1 row-cols-md-3 justify-content-around g-4 p-5 d-lg-flex d-none featured-car-desktop">
			{% for car in featuredCars %}
				{% set brand = car.meta('brand') %}
				{% set specs = car.meta('specs') %}

				<div class="col">
					<div
						class="h-100 home-featured-car-wrapper d-flex justify-content-center">
						<!-- CAR FEATURED IMAGE -->
						<div class="home-featured-car-image-wraper d-flex justify-content-center align-items-center">
							<img src="{{ Image(car.featured_image).src }}" alt="{{ Image(car.featured_image).title }}" class="img-fluid">
						</div>
						<div
							class="home-featured-car-content-wraper d-flex flex-column justify-content-center align-items-center">
							<!-- BRAND -->
							<div class="d-flex flex-column justify-content-center align-items-center w-100">
								<div class="d-flex justify-content-center align-items-center w-100">
									<img src="{{ Image(brand.brand_logo).src }}" alt="{{ Image(brand.brand_logo).title }}" class="img-fluid">
								</div>
								<h5 class="brand-name">{{brand.brand_name}}</h5>
							</div>
							<!-- CAR MODEL -->
							<h5 class="featured-car-model">{{car.model}}</h5>

							<!-- CAR SPECS -->
							<h5 class="specs-title">Specs</h5>
							<div class="row justify-content-start align-items-center mt-2">
								{% for spec in specs %}
									{% if spec.featured and loop.index <= 4 %}
										<div class="col-12 col-lg-6">
											<div class="row justify-content-center align-items-center mx-3">
												<div class="col-2 d-flex justify-content-center align-items-center">
													<img src="{{ Image(spec.spec_icon).src }}" alt="{{ Image(car.spec_icon).title }}" class="img-fluid">
												</div>

												<div class="col-10 featured-specs-detail">
													{{spec.spec_name}}:
													{{spec.spec_value}}</div>
											</div>

										</div>
									{% endif %}
								{% endfor %}
							</div>

							<!-- ACTION BUTTONS -->
							<div class="mt-5 w-100 row justify-content-center align-items-center">
								<div class="col-12 col-lg-6 h-100">
									<button class="w-100 py-2 request-now-btn mb-2 h-100">
										Request Now
									</button>
								</div>
								<div class="col-12 col-lg-6 h-100">
									<button class="w-100 py-2 more-details-btn mb-2 h-100">
										More Details
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}


		</div>

		<div id="featured-cars-carousel" class="carousel slide d-lg-none" data-bs-ride="carousel">
			<div class="carousel-indicators">
				{% for car in featuredCars %}
					<button type="button" data-bs-target="#featured-cars-carousel" data-bs-slide-to="{{loop.index - 1}}" class="{{loop.index - 1 == 0 ? 'active' : ''}}"></button>
				{% endfor %}
			</div>


			<div class="carousel-inner">
				{% for car in featuredCars %}
					{% set brand = car.meta('brand') %}
					{% set specs = car.meta('specs') %}
					<div class="carousel-item px-5 {{ loop.index - 1 == 0 ? 'active' : '' }}" data-bs-interval="7000">
						<div
							class="h-100 home-featured-car-wrapper d-flex justify-content-center">
							<!-- CAR FEATURED IMAGE -->
							<div class="home-featured-car-image-wraper d-flex justify-content-center align-items-center">
								<img src="{{ Image(car.featured_image).src }}" alt="{{ Image(car.featured_image).title }}" class="img-fluid">
							</div>
							<div
								class="home-featured-car-content-wraper d-flex flex-column justify-content-center align-items-center">
								<!-- BRAND -->
								<div class="d-flex flex-column justify-content-center align-items-center w-100">
									<div class="d-flex justify-content-center align-items-center w-100">
										<img src="{{ Image(brand.brand_logo).src }}" alt="{{ Image(brand.brand_logo).title }}" class="img-fluid">
									</div>
									<h5 class="brand-name">{{brand.brand_name}}</h5>
								</div>
								<!-- CAR MODEL -->
								<h5 class="featured-car-model">{{car.model}}</h5>

								<!-- CAR SPECS -->
								<h5 class="specs-title">Specs</h5>
								<div class="row justify-content-start align-items-center mt-2">
									{% for spec in specs %}
										{% if spec.featured and loop.index <= 4 %}
											<div class="col-12 col-md-6">
												<div class="row justify-content-center align-items-center mx-3">
													<div class="col-2 d-flex justify-content-center align-items-center">
														<img src="{{ Image(spec.spec_icon).src }}" alt="{{ Image(car.spec_icon).title }}" class="img-fluid">
													</div>

													<div class="col-10 featured-specs-detail">
														{{spec.spec_name}}:
														{{spec.spec_value}}</div>
												</div>

											</div>
										{% endif %}
									{% endfor %}
								</div>

								<!-- ACTION BUTTONS -->
								<div class="mt-5 w-100 row justify-content-center align-items-center">
									<div class="col-12 col-md-6 h-100">
										<button class="w-100 py-2 request-now-btn mb-2 h-100">
											Request Now
										</button>
									</div>
									<div class="col-12 col-md-6 h-100">
										<button class="w-100 py-2 more-details-btn mb-2 h-100">
											More Details
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>

	</div>
</div>
